/* src/styles/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg-base: #eee3cb;
  --color-panel: #b7c4cf;
  --color-highlight: #d7c0ae;
  --color-accent: #967e76;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--color-bg-base);
  color: var(--color-accent);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
